@import url('https://fonts.google.com/specimen/Outfit');

$font-size: 65%;
$font-stack: Outfit, sans-serif;
$white-color: hsl(0, 0%, 100%);
$light-grey-color: hsl(212, 45%, 89%);
$grayish-blue-color: hsl(220, 15%, 55%);
$dark-blue-color: hsl(218, 44%, 22%);


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

html, body, main {
  font-family: $font-stack;
  font-size: $font-size;
}

body {
  display: flex;
  background-color: $light-grey-color;
  min-height: 100vh;
  scroll-behavior: smooth;
}

main {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 80vw;
  max-width: 340px;
  background-color: $white-color;
  padding: 16px;
  border-radius: 18px;
  
  > img {
    border-radius: 18px;
  }
}

#info {
  h1 {
    color: $dark-blue-color;
    font-size: 5em;
    padding-bottom: 16px;
    line-height: 26px;
  }
  
  p {
    font-size: 3.2em;
    color: $grayish-blue-color;
  }
  padding:  24px 0;
}
